/******************************************************************
STYLESHEET: BOX

******************************************************************/

.box {
    width: 90%;
    color: $c_light;
    background-color: $c_base;
    margin: $m_box_medium auto;
    padding: $m_box_medium;
    border-radius: 5px;
    text-align: center;

    @include small {
        width: 70%;
        margin: $m_box_large auto;
        padding: $m_box_large;
    }

    @include medium {
        width: 50%;
    }
}