/******************************************************************
STYLESHEET: MIXINS

    > BREAKPOINTS
    > KEYFRAMES
    > HORIZONTALLY_AND_VERTICALLY_CENTER_ABSOLUTE_BLOCK_ELEMENTS
    > VERTICALLY_CENTER_RELATIVE_BLOCK_ELEMENTS
    > CLEARFIX

******************************************************************/



/******************************************************************
    BREAKPOINTS
        --> @include medium {...}
******************************************************************/

@mixin small {
    @media only screen and (min-width: #{$w-small}) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: #{$w-medium}) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: #{$w-large}) {
        @content;
    }
}



/******************************************************************
    KEYFRAMES
        --> @include keyframes($name) {...}
******************************************************************/

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}



/******************************************************************
    CLEARFIX
        --> @include clearfix;
******************************************************************/

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
